body {
    background-color: #ccc;
}

.selection {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 4rem;
    transition: 150ms;
}

.selection:hover {
    transform: scale(1.3);
}


